.banner {
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
        background-image: url(../assets/MARIANA_MUNOZ_2.jpg);
        position: absolute;
        top: 0;

    }

    .description{
        text-align: center;
        position: relative;
        padding:0 20px;
    }
}