.banner {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem;

    .prof_picture {
        display: block;
        margin: 0;
    }

    .profile_pic {
        display: block;
        object-fit: cover;
        width: min(300px, 50vw);
        max-width: 400px;
        border-radius: 50%;
        border: 0.7px solid #00d582;
        margin: 0;
        padding: 0;
        aspect-ratio: 1/1;
        
        
    }
    /* Decided to use a tag for profile picture as it is part of the content and not just a bg
    .image {
        background-image: url(../assets/MARIANA_MUNOZ_2.jpg);
        background-size: cover;
        background-position: center;
        width: 30vw;
        height: 30vh;
        max-width: 200px;
        border-radius: 50%;
    } */

    h1 {
        text-align: center;
        padding: 0;
        margin: 0;

    }

    p {
        text-align: center;
        font-style: italic;
        font-size: 1.1em;
        margin: 0;
        padding: 0;
    }

}