:root {
  --bg-color: #FFF;
  --main-brand-color: #00d582;
  --main-brand-color-dark: #1f8f60;
  --secondary-brand-color: #dadada;
  --main-text-color: #272726;
  --border-color: #dadada;
  --main-font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}

.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    opacity: 1;
    font-size: 1rem;
    font-family: var(--main-font-family);
}

a.hidden {
/*opacity: 0;*/
/*visibility: hidden;*/
display: none;
}