:root {
  --bg-color: #FFF;
  --main-brand-color: #00d582;
  --main-brand-color-dark: #1f8f60;
  --secondary-brand-color: #dadada;
  --main-text-color: #272726;
  --border-color: #dadada;
  --input-bg-color:#ecdaba;
  --main-font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    opacity: 1;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
}

a.hidden {
display: none;
}

@media screen and (width > 768px) {
    a.hidden {
        display: block;
    }
}