
.projects{
    .proj_video {
        display: flex;
        justify-content: center;

        video {
            width: 80%;
            max-width: 40em;
            margin: 0 auto;
            opacity: 1;
            animation-name: fade_in;
            animation-duration: 5s;
    }
    }

    .grid {
        /*border-radius: 4px;
        max-width: 300px;*/
        margin: 5rem 0;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
        align-items: center;
        
    }

    .card {
        /*background: radial-gradient(circle,rgba(218, 218, 218, 1) 0%, rgba(0, 213, 130, 0.45) 100%);*/
        background-color: var(--input-bg-color);
        border: 1px solid var(--border-color);
        border-radius: 12px;
        height: 15em;
        max-width:20em;
        margin: 0;
        padding: 1rem;
       
        h4 {
            text-align: center;
        }
        p {
            text-align: justify;
        }

    }


}

    h2 {
        text-align:  center;
        color: var(--main-brand-color-dark);
        padding: 1em;
    }

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@keyframes fade_in {
    0% {opacity: 0;}
    100%{opacity: 1;}
}