
.projects{
    .proj_video {
        position: relative;
        display: flex;
        justify-content: center;

        video {
            width: 40em;
            position: absolute;
            top: 30px ;
            opacity: 1;
            animation-name: fade_in;
            animation-delay: 1s;
            animation-duration: 10s;
            animation-fill-mode: forwards;

    }
    }

    .grid {
        /*border-radius: 4px;
        max-width: 300px;*/
        margin-top: 3rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        align-items: center;
        
    }

    .card {
        background: radial-gradient(circle,rgba(218, 218, 218, 1) 0%, rgba(0, 213, 130, 0.45) 100%);
        border: 1px solid var(--border-color);
        border-radius: 12px;
        height: 15em;
        width:20em;
        margin: 0;
        padding: 0;

    
        h4 {
            text-align: center;
        }
        p {
            text-align: center
        }

    }

    h2 {
        text-align:  center;
        color: var(--main-brand-color-dark);
    }
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@keyframes fade_in {
    0% {opacity: 0;}
    100%{opacity: 1;}
}